[Unit]
Description=Test Echo Service
After=syslog.service 
Requires=echod_auto.socket

[Service]
ExecStart=/opt/echod_auto/echod_auto

RestrictAddressFamilies=AF_UNIX

[Install]
WantedBy=multi-user.target
