[Unit]
Description=Test Echo Service
After=syslog.service 
Requires=echod.socket

[Service]
ExecStart=/opt/echod_auto/echod

RestrictAddressFamilies=AF_UNIX

[Install]
WantedBy=multi-user.target
